#clock {
    margin-top: 0.1vh;
    font-size: 2em;
    float:right;
    margin-right: 2vw;
}

.dictionary_pages_links_stuff{
    height: 10px;
    border: solid lightgrey 2px;
    background-color: lightgrey;
    color: black;
    text-decoration: none;
    user-select: none;
}

#ReLoad {
    margin-top:6px;
}

p {
    user-select: none;
    margin: 2px;
}

#buttonContainer {
    margin: 0;
    height: 2.2em;
    background-color: #41AAc4;
    width: 100vw;
    padding: 1vh 10px;
}

a {
    user-select: none;
    font-size: 1.5em;
    margin-left: 1vw;
}

button {
    font-size: 1.3em;
}

body {
    background-color: #dddddd;
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    overflow:hidden;
}