.On_off_switch {
    border: black solid 2px;
    padding: 3px;
    width: 4em;
    font-size: 2em;
    cursor: pointer;
    user-select: none;
    margin: auto;
    margin-top: 5px;
}

#ReLoad {
    margin-top:6px;
}

p {
    margin: 2px;
}

.Advanced {
    background-color: #9DBDB6;
    border: solid black 2px;
    padding: 2px;
    font-size: 2em;
    margin: auto;
    width: max-content;
    cursor: pointer;
    user-select: none;

}

.containers {
    background-color: #BDB69C;
    height: 13em;
    width: 13em;
    float:left;
    margin: 10px;
    border: solid rgb(0, 0, 0) 2px;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 98%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

h1 {
    max-width: max-content;
    margin-left:auto;
    margin-right:auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#comments {
    position: absolute;
    bottom: 0px;
    border: solid black 1%;
    width: 98;
}

#idaersej {
    font-size: 30px;
    color: rgb(31, 22, 22);
    font-family: "Lucida Console", Courier, monospace;
    margin-left: 25px;
}

body {
    background-color: #dddddd;
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    overflow:hidden;
}